@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles can be added below */
.bg-primary {
  background-color: rgb(29, 155, 240);
}
.bg-secondary {
  background-color: rgb(24, 24, 24);
}
.text-primary {
  color: rgb(29, 155, 240);
}
.text-secondary {
  color: rgb(24, 24, 24);
}
.btn-outline-primary {
  border: 0.5px solid rgb(29, 155, 240);
  color: rgb(29, 155, 240);
}
.btn-outline-secondary {
  border: 0.5px solid rgb(24, 24, 24);
  color: rgb(24, 24, 24);
}
